*.mp4 filter=lfs diff=lfs merge=lfs -text
videos/RDP[[:space:]]honeypots[[:space:]]demonstration.mp4 filter=lfs diff=lfs merge=lfs -text
videos/cowrie[[:space:]]&[[:space:]]ddospot[[:space:]]demonstration.mp4 filter=lfs diff=lfs merge=lfs -text
